@charset "UTF-8";
:root {
  --brand-color: #2196F3;
  --background-color: #ffffff;
  --text-color: #212121;
  --paragraph-color: #757575;
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: var(--primary-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* Reset */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
  margin-top: 0;
  text-align: center;
  color: var(--text-color);
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}
.social-list__item:not(:last-child) {
  margin-right: 10px;
}
.social-list__icon {
  fill: currentColor;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  color: #AFB1B8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--brand-color);
  color: #ffffff;
}

/* Section features*/
@media screen and (max-width: 1199px) {
  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .features__container {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .features__container:nth-child(2n) {
    margin-right: 0;
  }
  .features__container:nth-child(3) {
    margin-bottom: 0;
  }
  .features__container:nth-child(4) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .features__container {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
    margin-bottom: 0;
  }
  .features__container:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (max-width: 767px) {
  .features__container:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  background-color: #F5F4FA;
}

.features__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .features__subtitle {
    text-align: center;
  }
}

.features__text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--paragraph-color);
  line-height: 1.71;
}

/* Section activity */
.activity {
  padding-top: 0;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .activity {
    display: none;
  }
}

.activity__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .activity__item {
    margin-right: 30px;
    width: calc((100% - 60px) / 3);
  }
  .activity__item:nth-child(3n) {
    margin-right: 0;
  }
}

.activity__box {
  position: relative;
}

.activity__descr {
  font-weight: 700;
  line-height: 1.14;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 370px;
  height: 70px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

/* Section Team */
.team {
  background-color: #F5F4FA;
}
@media screen and (max-width: 1199px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team__card {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .team__card {
    margin-bottom: 30px;
  }
  .team__card:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .team__card {
    margin-right: 30px;
    width: calc((100% - 60px) / 2);
  }
  .team__card:nth-child(2n) {
    margin-right: 0;
  }
  .team__card:nth-child(1), .team__card:nth-child(2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__card {
    width: calc((100% - 90px) / 4);
  }
  .team__card:nth-child(n) {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .team__card:nth-child(4n) {
    margin-right: 0;
  }
}

.team__img {
  padding-bottom: 30px;
}
@media screen and (max-width: 1199px) {
  .team__img {
    width: 100%;
  }
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.team__text {
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--paragraph-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Section customers */
@media screen and (max-width: 767px) {
  .customers {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 480px) {
  .customers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.customers__item {
  margin-right: 30px;
  color: #AFB1B8;
}
.customers__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .customers__item {
    width: calc((100% - 60px) / 2);
  }
}

.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: currentColor;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .customers__link {
    width: 210px;
    height: 92px;
  }
}
.customers__link:hover, .customers__link:focus {
  border: 1px solid var(--brand-color);
  color: var(--brand-color);
}

.customers__icon {
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */