:root {
    --brand-color: #2196F3;
    --background-color: #ffffff;
    --text-color: #212121;
    --paragraph-color: #757575;
    --primary-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
}